<div class="site-menu">

  <div class="thumb">
    <a href="{{ site.baseurl }}/busy-bystander">
      <img src="{{ site.baseurl }}/assets/img/sarah.png" />
    </a>
    <span class="thumb__name">Sarah</span>
    <span class="thumb__title">Busy Bystander</span>
  </div>
  <div class="thumb">
    <a href="{{ site.baseurl }}/equipped-explorer">
      <img src="{{ site.baseurl }}/assets/img/marcus.png" />
    </a>
    <span class="thumb__name">Marcus</span>
    <span class="thumb__title">Equipped Explorer</span>
  </div>
  <div class="thumb">
      <a href="{{ site.baseurl }}/local-liason">
        <img src="{{ site.baseurl }}/assets/img/roman.png" />
      </a>
    <span class="thumb__name">Roman</span>
    <span class="thumb__title">Local Liason</span>
  </div>
  <div class="thumb">
    <a href="{{ site.baseurl }}/influential-interpreter">
      <img src="{{ site.baseurl }}/assets/img/june.png" />
    </a>
    <span class="thumb__name">June</span>
    <span class="thumb__title">Influential Interpreter</span>
  </div>
  <div class="thumb">
    <a href="{{ site.baseurl }}/meticulous-mapper">
      <img src="{{ site.baseurl }}/assets/img/kent.png" />
    </a>
    <span class="thumb__name">Kent</span>
    <span class="thumb__title">Meticulous Mapper</span>
  </div>
  <div class="thumb">
    <a href="{{ site.baseurl }}/community-champion">
      <img src="{{ site.baseurl }}/assets/img/alana.png" />
    </a>
    <span class="thumb__name">Alana</span>
    <span class="thumb__title">Community Champion</span>
  </div>

</div>

<a href="#" class="toggle-nav">
  <div class="nav-icon toggle-nav">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</a>
