
// colors
$red: #ce5f45;
$white: #fff;
$grey: #999;
$darkGrey: #414044;

// typography
$sansSerif: 'Helvetica Neue' , 'Helvetica' , Arial, sans-serif;
$serif: 'Merriweather', serif;

// space
$wrapperPad: 2rem;
